@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

p {
	font-size: 14px;
}

/* uikit overrides */

.uk-link, a {
	color: #1d9ff4;
}

em {color: #3abfbe;}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.uk-form input:not([type]), .uk-form input[type=text], .uk-form input[type=password], .uk-form input[type=email], .uk-form input[type=url], .uk-form input[type=search], .uk-form input[type=tel], .uk-form input[type=number], .uk-form input[type=datetime], .uk-form input[type=datetime-local], .uk-form input[type=date], .uk-form input[type=month], .uk-form input[type=time], .uk-form input[type=week], .uk-form input[type=color], .uk-form select, .uk-form textarea {
	border: 1px solid #f2f2f2;
	height: inherit;
	padding: 15px;
	font-size: 16px;
	color: #949ea9;
	font-weight: 500;
	border-radius: 0;
}

.uk-button, .btn {
	background-image: none;
	text-shadow: none;
	border: none;
	border-radius: 0;
	padding: 15px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 13px;
	min-height: inherit;
	margin: 5px;
}

.uk-button-small {
	background-image: none;
	text-shadow: none;
	border: none;
	border-radius: 0;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 5px !important;
}

.uk-button-primary, .btn-primary {
	background-color: #1d9ff4;
	color: #ffffff;
}

.uk-button-secondary {
	background-color: #d7dee4;
	color: #8d99a5;
}

.uk-alert {
	margin-top: 20px;
}

.uk-text-meta {
	margin-left: 5px;
}

.uk-badge {
	border-radius: 0;
	background-color: #1d9ff4;
}

.uk-badge.admin {
	background-color: #62687e;	
}

.uk-modal-title {
	font-size: 18px;
}

.uk-text-meta {
	margin-left: 0;
	font-weight: 300;
}

.uk-text-lead {
	color: #62687e;
	margin-top: 15px;
}

label {
	font-size: 14px;
	font-weight: 300;
	color: #aab3bc;
}

label a {
	font-size: 14px;
	font-weight: 300;
	color: #aab3bc;
	text-decoration: underline;
}

.topbar {
	padding: 13px 0px;
	background: #eff3f4;
}

.topbar button {
	border: 0px;
}

.topbar .uk-nav>li>a {
	padding: 5px 0;
}

.topbar .uk-dropdown .uk-nav {
	margin: 0;
}

.topbar .uk-dropdown-nav>li>a:focus, .topbar .uk-dropdown-nav>li>a:hover {
	border: none;
	box-shadow: none;
}

.topbar .topstats {
	display: inline-block;
	border-left: 1px solid #e3e7e8;
	position: relative;
	margin-left: 20px;
	padding-left: 20px;
}

.topbar .topstats i {
	color: #8d99a5;
	margin-right: 10px;
}

.topbar .topstats .users {
	display: inline-block;
	font-size: 14px;
	color: #62687e;
	font-weight: 700;
	margin-right: 20px;
}

.topbar .toplinks i {
	color: #8d99a5;
	margin-right: 20px;
}

.topbar .toplinks .login {
	background: #d7dee4;
	font-size: 14px;
	color: #62687e;
	font-weight: 700;
	padding: 16px;
}

.topbar .toplinks .logout {
	background: #d7dee4;
	font-size: 14px;
	color: #62687e;
	font-weight: 700;
	padding: 16px;
	margin-left: -4px;
}

.topbar .toplinks .login:hover, .topbar .toplinks .login:focus, .topbar .toplinks .login:active {
	text-decoration: none;
	color: #ffffff;
}

.topbar .toplinks .register:hover, .topbar .toplinks .register:focus, .topbar .toplinks .register:active {
	text-decoration: none;
	color: #62687e;
}

.topbar .toplinks .register {
	background: #1d9ff4;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	padding: 16px;
	margin-left: -4px;
}

.mainbar {
	padding: 40px;
}

.mainbar .uk-navbar {
	border: none;
	background: none;
}

.mainbar .uk-navbar li a {
	color: #8d99a5;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	height: inherit;
	padding: 15px;
}

.mainbar .uk-navbar li.dropdown .dropicon:after {
	content: "\F140";
	font-family: "Material Design Icons";
	padding-left: 3px;
}

.mainbar .uk-dropdown {
	border: 0;
	background: #eff3f4;
	box-shadow: none;
	padding: 15px;
	min-width: 100px;
	border-radius: 0;
}

.mainbar .uk-navbar-nav>li.uk-open>a, .mainbar .uk-navbar-nav>li:hover>a, .mainbar .uk-navbar-nav>li>a:focus {
	background: #1d9ff4;
	box-shadow: none;
	color: #ffffff;
	text-shadow: none;
}

.mainbar .uk-dropdown-nav>li>a:focus, .mainbar .uk-dropdown-nav>li>a:hover {
	background: none;
	color: #1d9ff4;
	box-shadow: none;
	text-shadow: none;
}

.mainbar .uk-navbar-flip .uk-navbar-nav:last-child>li:last-child>a {
	border-radius: 0;
}

.breadcrumbs {
	background-color: #eff3f4;
	padding: 20px 0;
}

.breadcrumbs a {
	color: #9196a7;
}

.breadcrumbs .uk-breadcrumb>li:nth-child(n+2):before {
	content: ">";
	color: #9196a7;
}

.breadcrumbs .uk-active {
	color: #9196a7;
	font-weight: 500;
}

.content {
	padding-bottom: 40px;
}

.content h2 {
	color: #62687e;
	font-size: 18px;
	font-weight: 500;
	margin-top: 40px;
	margin-bottom: 35px;
}

.content p, .content ul {
	font-size: 16px;
	line-height: 28px;
	color: #949ea9;
	font-weight: 400;
}

.footer {
	border-top: 1px solid #eff3f4;
	padding: 40px 0;
}

.footer .copy p {
	font-size: 14px;
	color: #a4afba;
	display: inline-block;
}

.footer .copy a {
	font-size: 14px;
	color: #62687e;
	margin-left: 5px;
	font-weight: 700;
}

.footer .social i {
	color: #8d99a5;
	margin-right: 20px;
}

.footer .links a {
	font-size: 14px;
	color: #a4afba;
	font-weight: 300;
	border-right: 1px solid #d7dee4;
	padding-right: 12px;
	padding-left: 12px;
}

.footer .links a:first-child {
	padding-left: 0;
}

.footer .links a:last-child {
	border-right: 0;
	padding-right: 0;
}

.panel-head .action-buttons {
	vertical-align: middle;
	display: table-cell;
}

.action-buttons { text-align: right; }

.action-buttons a { 
	margin-right: 10px; 
}


.action-buttons .button { margin-left: 10px; }
.action-buttons .button span[class*="icon-"] { margin-right: 3px; }
.action-buttons .button-group { margin-left: 10px; margin-right: -3px; }
.action-buttons:last-child { margin-bottom: 0; }

.title { margin: 2rem 0 1.5rem 0; }
.title h2 { margin: 0; }
.title:after { content: ""; clear: both; display: block; }
.title .action-buttons { float: right; margin: 0; }

.subforumtitle h5 {
	padding: 10px;
	color: #8d99a5;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.counter, .divider {
	padding: 10px;
	color: #8d99a5;
	text-transform: uppercase;
}

form-error {
	border: 1px solid red;
}

/*------------------ UI ------------------*/

.top_nav li{
	display: inline-block;
}
.top_nav li a{
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px;
	font-size: 12px;
}
.top_nav li a:hover{
	background: #135b94;
	border-radius: 5px;
	text-decoration: none;
}

.tinynav{
	display: block;
	margin-top: 15px;
	width: 100%;
	border-radius: 5px;
	padding: 10px 15px;
}

.top_nav{
	display: none;
}

@media (min-width: 996px){
	.tinynav{
		display: none;
	}
	.top_nav{
		display: block;
	}
}

.nav { position: fixed; width: 100%; top: 0; left: 0; z-index: 600; background: #1d1f21; border-bottom: 1px solid #121213; padding: 0 1.5rem; }
.nav-buttons { float: right; padding-top: 8px; }
.nav-buttons .button { margin-left: 7px; }
.nav-buttons .button-group { margin-right: -4px; }
.nav-buttons .avatar { width: 25px; height: 25px; margin: -.4rem .5rem -.4rem 0; }
.nav-brand { vertical-align: top; display: inline-block; margin-right: 1.5rem; height: 60px; line-height: 60px; font-size: 1.2rem; color: #fff; }
.nav-brand:hover { color: #fff; }
.nav-menu { vertical-align: top; display: inline-block; list-style: none; margin: 0; padding: 0; }
.nav-menu > li { float: left; position: relative; margin-right: 1px; }
.nav-menu > li > a { display: block; color: #cccccc; padding: 0 1rem; height: 60px; line-height: 60px; outline: none; }
.nav-menu > li > a:hover { background-color: #52555a; }
.nav-menu > li > a .caret-down { border-top-color: #fff; top: 2px; margin-left: 3px; }
.nav-menu > li > a .badge { top: -1px; }
.nav-menu > li.is-active > a { font-weight: bold; }
.nav-menu > li.is-active > a,
.nav-menu > li > a.is-active { background-color: #67696d; color: #fff; }

.alert,
.button,
.modal-outer { border-radius: .3rem; }

.button .caret-down { border-top-color: #fff; margin-left: 3px; bottom: -1px; }

.table thead th { white-space: nowrap; }
.table .no-results { text-align: center; padding: 25px; }
.table.is-clickable tbody tr { cursor: pointer; }
.table.is-sortable thead a { color: #000; height: 43px; overflow: hidden; vertical-align: middle; }
.table.is-sortable thead a.desc,
.table.is-sortable thead a.asc { background: #d9d9d9; }

.dropdown li a:hover .model-icon { color: #fff; }

.modal { max-width: 800px; }
.modal-body { max-height: 500px; overflow-y: auto; }

.pagination ul { float: right; margin: 0; }
.pagination .counter { height: 45px; line-height: 45px; vertical-align: middle; }
.pagination .counter span { font-weight: bold; }
.pagination.bottom { margin-bottom: 0 }

.panel-head {
	background: #1d9ff4;
	display: table;
	width: 100%;
}

.panel-head h3 {
	color: #fff;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 26px;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
}

.panel-head h5 {
	color: #fff;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
}

.panel-head.station h3 {
	padding: 10px;
}

.panel-head p {
	color: #fff;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 12px;
	font-style: italic;
	margin: -10px 0 0 0;
	padding: 0 0 10px 10px;
}

.panel { border: 1px solid #eff3f4; margin-bottom: 1.5rem; overflow: hidden; border-radius: 0; }
.panel:nth-child(4n) { margin-right: 0; }
.panel-body { padding: 1rem; }

.panels .panel { display: inline-block; margin-right: 1.5rem; vertical-align: top; width: 23%; }

.matrix.no-columns .panel { display: block; width: 100%; margin-right: 0; margin-bottom: 1.5rem; }

.modal-inner { border-radius: .3rem; }
.modal-head { border-top-left-radius: .3rem; border-top-right-radius: .3rem; }

/*------------------ Forms ------------------*/

.form--horizontal .field .col.span-7 { margin-left: 1.5rem; }

.form-filters,
.form-actions { margin-top: 1.5rem; padding: 1rem; background: #f8f8f8; border: 1px solid #cccccc; border-radius: .3rem; }
.form-actions label { display: inline-block; padding-right: 1rem; font-weight: bold; position: relative; top: 2px; }
.form-actions .redirect-to,
.form-actions .log-comment { margin-bottom: 1rem; }

.form-filters { padding: .5rem; }
.form-filters .field,
.form-filters .form-actions { margin: .5rem; }
.form-filters .form-actions { background: none; border: 0; padding: 0; }
.form-filters .field.integer .input { width: 100px; }
.form-filters .field-type-ahead { width: 225px; }

.field.boolean .checkbox { padding-top: 7px; }
.field-type-ahead { display: inline-block; vertical-align: middle; height: 45px; } /* need height for it to align properly */

.error-message { color: #b94a48; margin-top: 5px; }
textarea.input { min-height: 300px; }

/*------------------ Responsive ------------------*/

@media only screen and (max-width: 480px) {
    html { font-size: 13px; }
    body { padding-top: 0; }
    .nav { position: relative; }
}

hr { margin: 1rem 0; border: 0; border-top: 1px solid #cccccc; }

.statistics { margin-top: 1.5rem; }

.js-tooltip { cursor: help; }

.col-icon { width: 20px; text-align: center; }

.col-icon img {
	max-width: 64px;
	max-height: 64px;
}

.col-stat { text-align: center; }
.col-activity,
.col-created { text-align: right; }

.forum-title,
.topic-title { font-weight: bold; }

.forum-desc,
.topic-pages { margin-top: 5px; }

.topic-pages { font-size: .8em; }

.progress,
.progress-bar { height: 20px; }

.icon-external-link { font-size: .8em; }

/*-------------------- Posts --------------------*/

.post-time { text-align: center; font-size: .8rem; vertical-align: middle !important; }
.post-actions { float: right; }
.post-actions a { margin-left: 5px; }
.post-ratings .rating { background: #fff; border: 1px solid #cccccc; padding: 0 5px; border-radius: .3rem; }
.post-buried { padding-top: 1rem; margin-top: 1rem; border-top: 1px solid #cccccc; }

.signature { padding-top: 1rem; margin-top: 1rem; border-top: 1px dashed #cccccc; overflow: hidden; }

.username, .avatar { 
	margin-bottom: 10px; 
	font-size: 14px;
}

.quick-reply {
	margin-top: 10px;
}

.quick-reply .submit { margin-bottom: 0; }
.quick-reply .decoda-editor { width: 100%; }

.span-2 {
	text-align: center;
	width: 16.6667%;
}

.avatar-stats {
	font-size: 12px;
}

/*-------------------- Forms --------------------*/


input,
select,
textarea { padding: 5px; background: #fff; border: 1px solid #cccccc; border-radius: .3rem; }
input:hover,
select:hover,
textarea:hover { border-color: #c2c2c2; }
input:focus,
select:focus,
textarea:focus { border-color: #45c5eb; box-shadow: 0 0 5px #dbf1fa; outline: 0; }

.input input[type="text"] { width: 25%; }
.input textarea { min-width: 45%; }
.input .form-poll input[type="text"] { width: 98%; }
.input .form-poll input[type="checkbox"] { position: relative; top: 2px; }

.form-filters label { margin-right: 5px; }

/*-------------------- Decoda --------------------*/

.decoda-spoiler-content,
.decoda-quote { background: #fff; margin: .5rem; padding: 1rem; border: 1px dashed #cccccc; border-radius: .3rem; font-size: 12px; }
.decoda-quote { border-style: solid; }
.decoda-quote-head { padding-bottom: 10px; font-weight: bold; }
.decoda-code { margin: .5rem; }

/* Icons */

.forum-icon-open:before {
	content: "\F256";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-icon-closed:before {
	content: "\F250";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-icon-new:before {
	content: "\F257";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-topic-open:before {
	content: "\F256";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-topic-open-hot:before {
	content: "\F69C";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-topic-closed:before {
	content: "\F250";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-topic-new:before {
	content: "\F394";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-topic-new-hot:before {
	content: "\F69C";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-topic-sticky:before {
	content: "\F5D0";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-topic-important:before {
	content: "\F205";
	font-family: "Material Design Icons";
	font-size: 20px;
}

.forum-topic-announcement:before {
	content: "\F611";
	font-family: "Material Design Icons";
	font-size: 20px;
}